h1 {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

h2 {
  color: slategray
}

h3 {
  color: darkblue;
  background-color: lightgoldenrodyellow;
}

div.first_list {
  display: inline;
}

div.second_list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: coral;
  list-style-type: none;
}

body {
  margin: top 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  margin-left: 20%;
}