h1 {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

h2 {
  color: slategray
}

h3 {
  color: darkblue;
  background-color: lightgoldenrodyellow;
}

ul {
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: coral;
}

body {
  margin: top 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  margin-left: 20%;
}